body {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}
header {
    background-color: #333;
    color: white;
    text-align:center;
    padding: 20px 0;
    font-size: 30px;
    max-width: initial;
}
h2 {
    text-align: center;
    font-size:24px;
}
nav ul {
    list-style-type: none;
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    background-color: #444;
    color: white;
}

nav ul li {
    padding: 10px 20px;

}
nav ul li a {
    text-decoration:none;
    color: white;

}

nav ul li a:hover {
    color:#ccc;
    font-size: 18px;
}
#top-section,#experience,#project-content,footer{
    max-width: 1500px;
    margin:0 auto;
    padding: 20px;
    text-align:center;
}

#top-section{
    display:flex;
    justify-content: center;
    align-items:center;
    padding:20;

}
#top-section img{
    width:200px;
    border-radius: 50%;
    margin:20px;
}
#experience{
    background-color: #f4e4e4;
    padding:20px 30px;
    max-width: initial;
    margin:10px;
}

#experience h2{
    font-size:24px;
    margin-bottom:20px;
    color: #333;
}
#experience h5 {
    color: #F37948;
    font-style:italic;
}

#project-content img {
    width: 100px;
}

#project-content #div-content div{
    flex: 0 1 300px;
    background-color: #f4f4f4;
    padding:20px 30px;
    margin:10px;
    border-radius: 5px;
}

#div-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

#footer {
    text-align:center;
    background-color: #333;
    color:white;
    padding: 10px 0;
    max-width: initial;
}
footer p{
    margin: 0 auto;

}

